<div class="new-comment">
<% if @post_image.user_id != current_user.id %>
  <%= form_with(model:[post_image, comment]) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: 'comment-box' %>
    <%= f.submit "送信する" %>
  <% end %>
<% end %>
</div>
