<div class="comments">
   <% post_image.comments.each do |comment| %>
   <%= comment.comment %>
   <% if current_user.id == comment.user.id %>
   <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete , remote: true %>
   <% end %>
   <nav><%= comment.user.name %></nav>
   <% end %>
</div>