<section class="wrapper">
    <h1 class="heading1">PHOTOGARDENは<br>植物好きが集まるコミュニティーサイトです。</h1>
    <div class="container">

        <div class="content">
            <h2 class="heading">PHOTOGARDENできること</h2>
            <div class="list">
                <div class="list-item">
                  <h3>撮影した写真の投稿</h3>
                    <%= image_tag asset_path("glenn-carstens-peters-loaTW2AfDYU-unsplash.jpg"), class: "image" %>
                  <p class="text-left">育てている植物の写真を撮影し投稿することでMYPAGEで写真を管理しオンラインでのアルバムとして活用できます。</p>
                </div>
                <div class="list-item">
                  <h3>タグ検索</h3>
                    <img src="/assets/agence-olloweb-d9ILr-dbEdg-unsplash.jpg" class="image">
                  <p class= "text-left">植物名や置かれている空間等が複数「タグ」が付けられており、タグで検索を行うことができます</p>
                </div>

                <div class="list-item">
                  <h3>植物好きと繋がることができる</h3>

                    <img src="/assets/babies-2287991_640.jpg" class="image">

                  <p class="text-left">他の人の投稿に対してコメントすることができたり、いいねをすることができます。</p>
                </div>
            </div>
        </div>
    </div>
</section>

