<body>
    <div class="main h-100">
        <div class="h-100">
          <div class="d-flex align-items-center h-100 position-absolute w-100 left-0">
            <div class="w-100 text-center">
              <div class="text">ENJOY GARDENING</div>
              <div class="text-center top-btn-container">
                <%= link_to "SIG NUP", new_user_registration_path, class:"top-btn" %>
                <%= link_to "LOG IN",user_session_path, class:"top-btn" %>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>