/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Tangerine&family=Viaoda+Libre&display=swap');

 @import './homes';
 @import './users';
 @import './post_images';

body {
 margin: 0;
 background-color: #cccccc;
 line-height: 2;
}

ul {
 margin: 0;
 font-family: 'Tangerine', cursive;
 font-family: 'Viaoda Libre', cursive;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

header {
 height: 90px;
 display: flex;

}

.global-nav {
  display: flex;
  text-align: right;


}

.global-nav li {
 margin: 0 20px;
 font-size: 18px;
 list-style: none;
}

.global-nav li a {
 color: #ffffff;
 text-align: right;

}

.global-nav li a:hover {
 border-bottom: 2px solid #ffffff;
 padding-bottom: 8px;
 text-decoration: none;
}

footer {
 text-align: center;
 color: #ffffff;
 padding: 20px 0;
}

footer small {
 font-size: 12px;
}

nav {

   text-align: right;
}

.nav-padding{
 padding: 8px 150px;
}
h2 {
 font-family: 'Tangerine', cursive;
 font-family: 'Viaoda Libre', cursive;
}
h3 {
 font-size: 1.2em;
 margin-bottom: 30px;
}

.container {
 padding-left: 20rem;
 padding-top: 13rem;
}

.paginate {
 padding-left: 57rem;
}

#image-sliders {
  height: 100%;
}

.image1 {
  width: 100%;
  height: 100%;
  background-image: image-url("watering-can-3630281_1920.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 85px;
}

.image1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;

  }

  .signupbtn{
   font-size: 2rem;
   border-right: solid;
   padding-right: 10px;
   color: #00ced1;
   text-align: center;
  }

  .loginbtn {
   font-size: 2rem;
   color: #00ced1;
   text-align: center;
  }


.image2 {
  width: 100%;
  height: 100%;
  background-image: image-url("pepper-4186307_1920.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 85px;
}

.image2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  /*文字の装飾は省略*/

  }


.image3 {
  width: 100%;
  height: 100%;
  background-image: image-url("garden-2179530_1920.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 85px;
}

.image3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;

  }



.image4 {
  width: 100%;
  height: 100%;
  background-image: image-url("PAK56_midorrinonakanobench_TP_V.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 85px;
}

.image4 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  /*文字の装飾は省略*/

  }


.image5 {
  width: 100%;
  height: 100%;
  background-image: image-url("1670322_s.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 85px;
}

.image5 span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;

  }


