// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-container {
    min-height: 100vh;
}
.cover{
    min-height: 1000px;
    background-size: cover;
    background-image: image-url('records/1670322_s.jpg');
}
