// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
    width: 100%;
    margin: 0 auto;
    background-image: url(watering-can-3630281_1920.jpg)
}

.text {
    font-size: 130px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    margin: 50px 0 100px 0;
    font-family: 'Viaoda Libre', cursive;
}



/* container */
.wrapper{
    width:100%;
    text-align: center;
}
.wrapper .container{
    max-width:1000px;
    margin:1px auto;
    padding:80px 0px;
}
/* content */
.wrapper .content .heading{
    margin: 0px 0px 40px;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content .list-item {
    margin:50px 0px;
    padding:0px 20px;
    text-align:center;
    height: 420px;

}
@media (min-width: 992px) {
    .wrapper .content .list-item {
        margin:0px;
        width:calc(100% / 3);
    }
}
.wrapper .content .list-item .image {
    width: 90%;
    max-width:300px;
    border-radius: 50%;
    aspect-ratio: 3 / 2;
}
.img-container {
    margin-bottom: 30px;
    height: 180px;
}
.wrapper .content .list-item .text{
    line-height:1.8rem;
    font-size:0.8rem;
    color:#666666;
}

.top-0{
    top: 0;
}


.left-0{
    left: 0;
}
.top-btn-container{
    display: flex;
    justify-content: center;
}

.heading1{
    pading: 200px;
    justify-content: center;
    font-size: 2em;
    margin-top: 50px;
}

